body{

}
/* common style */
.btn{
    color: #FFF;
text-align: center;
font-family: "Work Sans";
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: normal;
border-radius: 8px;
background: #FF900E;
padding: 1.25rem;
border: none;
}
/* header section  */
/* nav bar secton */
.header{
    background: rgba(255, 144, 14, 0.10);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 35px;
}
.logo{
    color: #131313;
text-align: center;
font-family: "Work Sans";
font-size: 2.8rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.nav ul {
    display: flex;
    justify-content: space-between;
    width: 470px;
    height: 25px;

}
.nav li {
    list-style: none;
    
}
.nav li a ,button{
    text-decoration: none;
    color:  #424242;
text-align: center;
font-family: "Work Sans";
font-size: 1.125rem;
font-style: normal;
font-weight: 500;
line-height: 1.625rem; /* 144.444% */
background-color: transparent;
border: none;


}
.nav li a button{
    background: transparent;
    border: none;
}
.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title{
    color:  #131313;
text-align: center;
font-family: "Work Sans";
font-size: 4rem;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.description{
    color:  #727272;
text-align: center;
font-family: "Work Sans";
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */

}

.header-img{
    display: flex;
    justify-content: center;
    margin-top: 25PX;
}
.header-img img{
width: 80%;

}
/* nev bar section */
/* header section */
/* MAIN SECTION  */
/* features section */
main{
    padding: 0px 50px;
}
.features{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
    .features-img{
        display: grid;
        grid-template-columns: repeat(2 ,49%);
        gap: 10px;
}
.features-content{
    margin-left: 30px;
}
.features-title{
    color: #FF900E;
font-family: "Work Sans";
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.features-title-1{
    color: #727272;
font-family: "Work Sans";
font-size: 45px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.features-title-2{
    color: #131313;
font-family: "Work Sans";
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.features-description{
    color: #727272;
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
/* love and enjoy section */
.love{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;

}
.love div{
    width: 50%;

}
.love-content div{
    width: 95%;
}
.love-title{
    color: #131313;
font-family: "Work Sans";
font-size: 2.8rem;
font-style: normal;
font-weight: 700;
line-height: normal;
border-left:5px solid #FF900E;
padding-left: 10px;

}
.love-description{

    color:#727272;
font-family: "Work Sans";
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.love-item{
    width: 100%;
}
.love-list{
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
padding: 10px 20px;
width: 100%;

margin: 15px 0px;

}
.love-list-title{
    color: #131313;
font-family: "Work Sans";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.love-list-description{
    color:  #727272;
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.love-img img{
    width: 90%;
    margin-left: 90px;
}
.love-img .btn{
    color: #FFF;
text-align: center;
font-family: "Work Sans";
font-size: 4rem;
margin: 0;
font-style: normal;
font-weight: 700;
line-height: 40px;/* 107.692% */
position: relative;
bottom: 100px;
}
.love-img span{
    color: #FFF;
font-family: "Work Sans";
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: 40px;
}
/* MAIN SECTION */
/* Responsive Mobile web layout  */
/* /******************************************************************************************************\ */
@media screen and (max-width:576px ) {
    
    main{
        padding: 0;
    }
        .nav{
            flex-direction: column;
           
        }
        .nav ul{
            width: 300px;
            height: 25px;
            margin: 0;
            padding: 0;
        }
        /* features section */
        .features{
            flex-direction: column-reverse;
        }
        .features-img{
            grid-template-columns: repeat(1 ,100%);
            gap: 10px;
            margin-top: 10px;
        }
        /* love and enjoy section */
        .love{
            flex-direction: column;
            justify-content: start;
        }
        .love div{
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .love-img img{
            padding: 0;
            margin: 0;
        }
        .love-img .btn{
            font-size: 2rem;
            bottom: 50px;
            list-style: 20px;
        }
        .love-img span{
            font-size: .7rem;
        }
}
/* Resposive Tablet Web layout */
@media screen and (min-width:577px) and (max-width:997px){

    .nav{
        flex-direction: column;
       
    }
    .nav ul{
        width: 300px;
        height: 25px;
        margin: 0;
        padding: 0;
    }
    /* features section */
    .features{
        flex-direction: column-reverse;
     
    }
    .features-img{
        margin-top: 10px;
    }
    /* love and enjot  */
    .love{
        flex-direction: column;
    }
    .love div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.love-img img{
    padding: 5%;
    margin: 0;
}
}